.Portfolio>.row>.Site_Preview_Container>.Image_Frame {
    height: 300px;
    overflow: hidden;
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
    background-color: #252530;
    color: transparent;
    transition: 1s ease-in-out;
}

.Portfolio>.row>.Site_Preview_Container>.Image_Frame>.Image_Preview {
    object-fit: cover;
    object-position: top center;
    transition: all 4s ease-in-out;
}

.Portfolio>.row>.Site_Preview_Container>.Image_Frame>.Image_Preview:hover {
    object-position: bottom center;
}


@media (max-width: 1200px) {
    .Portfolio>.row>.Site_Preview_Container>.Image_Frame {
        height: 400px;
    }
}

@media (max-width: 445px) {
    .Portfolio>.row>.Site_Preview_Container>.Image_Frame {
        height: 200px;
    }
}